@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    src: url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
  }

#content{
    font-size: large;
}

img{
    width: 300px;
    height: 300px;
}

:root{
    background-color: black;
    color: white;
    font-family: 'Roboto';
    box-sizing: border-box;
    font-size: 18px;
}

button{
    color: white;
    border: solid 1px white;
    background-color: black;
}

/* .header{
    
} */

.tabs{
    display:flex;
    justify-content: end;
    align-items: center;
}

#menu{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-area: menu;
    grid-template-areas: 
    'appetizers mains'
    'drinks desserts';
    font-size: 2rem;
} 

#menu>h3{
    font-weight: bold;
    font-size: 1.2rem;
}

.appetizers{
    grid-area: appetizers;
}

.mains{
    grid-area: mains;
}

.drinks{
    grid-area: drinks;
}

.desserts{
    grid-area: desserts;
}